ALCHEMY_MAINNET_KEY=
ALCHEMY_SEPOLIA_KEY=

INFURA_KEY=

PRIVATE_KEY_0=
PRIVATE_KEY_1=

MNEMONIC=""

# Telegram配置
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

# Discord配置
DISCORD_WEBHOOK_URL=your_discord_webhook_url

# Binance API配置
BINANCE_API_KEY=your_binance_api_key
BINANCE_API_SECRET=your_binance_secret

# OKX API配置
OKX_API_KEY=your_okx_api_key
OKX_API_SECRET=your_okx_secret
OKX_PASSPHRASE=your_okx_passphrase

# Huobi API配置
HUOBI_API_KEY=your_huobi_api_key
HUOBI_API_SECRET=your_huobi_secret

# Network
NETWORK=sepolia